body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.header {
  background-color:rgb(255, 153, 0);
  padding: 50px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0 20px;
  font-size: 70px;
  color: #ffffff;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  color: #351b09;
 
}
.input-section {
  background-color: #aa602b;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-section h2 {
  color: #351b09;
  margin-bottom: 20px;
}
.input-section select,
.input-section input {
  background-color: #F5DEB3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}
.input-section button {
  background-color: #66CDAA;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
}
.input-section button:hover {
  background-color: #5bc0be;
}
.list-section {
  background-color: #FFF;
  width: 100%;
  margin-top: 2px;
}
.list-item {
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #8B4513;
}
.list-item span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}
.list-item button {
  background-color: #ff6347;
  border: none;
  color: #FFF;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.controls {
  width: 100%;
  justify-content: center;
  background-color: #351b09;
  align-items: center;
}
.controls button , .controls select{
  background-color:  #F5DEB3;
  color: #351b09;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
}
.controls button:hover {
  background-color: #A0522D;
}
.controls select:hover {
  background-color: #A0522D;
}
.footer {
  background-color: #66CDAA;
  padding: 20px;
  color: #FFF;
  text-align: center;
}

